CONFIG_ESP_HTTP_CLIENT_EVENT_POST_TIMEOUT=0
# CONFIG_ESP_HTTP_CLIENT_ENABLE_BASIC_AUTH is not set
# CONFIG_ESP_HTTP_CLIENT_ENABLE_DIGEST_AUTH is not set
# CONFIG_ESP_HTTP_CLIENT_SAVE_RESPONSE_HEADERS is not set
